In [1]:
import pandas as pd
purchase_1 = pd.Series({'Name':'C',
                        'Purchased':'dog food',
                        'Cost':21.01})
purchase_2 = pd.Series({'Name':'K',
                        'Purchased':'cat food',
                        'Cost':8.68})
purchase_3 = pd.Series({'Name':'V',
                        'Purchased':'bird seed',
                        'Cost':6.99})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['store 1',
                  'store 1', 'store 2'])

df = df.set_index([df.index, 'Name'])
df.index.names = ['Location', 'Name']
df = df.append(pd.Series(data={'Cost':3.33, 'Purchased':'cat food'},
               name=('store 2', 'K')))
df

               Purchased   Cost
Location Name
store 1  C      dog food  21.01
         K      cat food   8.68
store 2  V     bird seed   6.99
         K      cat food   3.33

In [2]:
import pandas as pd
purchase_1 = pd.Series({'Name':'C',
                        'Purchased':'dog food',
                        'Cost':21.01})
purchase_2 = pd.Series({'Name':'K',
                        'Purchased':'cat food',
                        'Cost':8.68})
purchase_3 = pd.Series({'Name':'V',
                        'Purchased':'bird seed',
                        'Cost':6.99})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['store 1',
                  'store 1', 'store 2'])
df['Purchased']

store 1     dog food
store 1     cat food
store 2    bird seed
Name: Purchased, dtype: object

In [3]:
import pandas as pd
purchase_1 = pd.Series({'Name':'C',
                        'Purchased':'dog food',
                        'Cost':21.01})
purchase_2 = pd.Series({'Name':'K',
                        'Purchased':'cat food',
                        'Cost':8.68})
purchase_3 = pd.Series({'Name':'V',
                        'Purchased':'bird seed',
                        'Cost':6.99})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['store 1',
                  'store 1', 'store 2'])

df['Name'][df['Cost']>3]

store 1    C
store 1    K
store 2    V
Name: Name, dtype: object