In [30]:
import pandas as pd

pdt = pd.DataFrame([{'Pdt': 'Sushi Roll', 'Price':5.0},
                    {'Pdt': 'Egg', 'Price':0.5},
                    {'Pdt': 'Bagel', 'Price':1.5}],
                index = ['4109','1412','8931'])
                    
pdt

             Pdt  Price
4109  Sushi Roll    5.0
1412         Egg    0.5
8931       Bagel    1.5

In [32]:
inv = pd.DataFrame([{'Cust':'Ali', 'Pdt ID':'4109', 'Qty':1},
                   {'Cust':'Eric','Pdt ID':'1412','Qty':12},
                   {'Cust':'Andre', 'Pdt ID':'8931','Qty':6},
                   {'Cust':'Sam', 'Pdt ID':'4109','Qty':2}])
inv

    Cust Pdt ID  Qty
0    Ali   4109    1
1   Eric   1412   12
2  Andre   8931    6
3    Sam   4109    2

In [33]:
print(pd.merge(pdt,inv,left_index=True,right_on='Pdt ID'))

          Pdt  Price   Cust Pdt ID  Qty
0  Sushi Roll    5.0    Ali   4109    1
3  Sushi Roll    5.0    Sam   4109    2
1         Egg    0.5   Eric   1412   12
2       Bagel    1.5  Andre   8931    6